<div class="modal fade" id="delete" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete <%= category.name %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <% if (!items.length) { %>
      <form method="POST">
        <div class="modal-body">
          <p>Are you sure you want to delete this category?</p>
          <p>You need to enter the password below to delte a category:</p>
          <label for="pw">Password</label>
          <input type="password" id="pw" name="password" class="form-control" />
          <p>*You will be redirected to the category page without the category being deleted if the password is incorrect</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Delete</button>
        </div>
      </form>
      <% } else { %>
        <div class="modal-body">
          <p>You must delete the following items before being able to delete this category:</p>
          <div class="list-group">
          <% items.forEach((item) => { %>
            <a class="list-group-item list-group-item-action" href="<%=item.url %>"><%= item.name %></a>
          <% }) %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      <% } %>
    </div>
  </div>
</div>
